body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(#416e8a, #000000);
    font-family: Arial, sans-serif;
    color: white;
}

.contact-container {
    width: 80vw;
    height: 100vh;
    padding: 20px;
    background: radial-gradient(#15232c, #000000);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
    max-width: 500px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #072a62;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #000000;
}

textarea {
    height: 100px;
    resize: vertical;
}

button {
    background-color: #072a62;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #fefefe;
    color: #000000;
}
