.education-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 30px;
}
.education-sections{
    display: flex;
}
.education{
    border: 1px solid #fff;
    border-radius: 25px;
    display: flex;
    color:white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-left: 40px;
}
#tu{
    background-color: #d0a304;
    color: #000;
}
#hcc{
    background-color: #c61c05;
    color: #000;
}

h3{
    color: #ffffff;
    margin: 10px;
}