body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background:radial-gradient(#416e8a, #000000);
}

.home-container {
    text-align: center;
    height: 100%;
    width: 80vw;
    padding: 20px;
    background:radial-gradient(#15232c, #000000);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.link-container {
    display: flex;
    padding-top: 20px;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

.link {
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

.button {
    background-color: #072a62;
    color: white;
    padding: 10px 20px 10px 20px;
    margin-top: 40px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #ffffff;
    color: #000000;
}

.social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px; /* Reduced gap to fit within the container */
    flex-wrap: wrap; /* Ensure the items wrap to the next line if they exceed the container width */
}

.social-icon {
    color: white;
    font-size: 3rem;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: pulse 2s infinite;
}

.social-icon:hover {
    color: #072a62;
    transform: scale(1.2);
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
        color: #072a62;
        
    }
    100% {
        transform: scale(1);
    }
}

