#li{
    text-align: left;
}
.project-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 30px;
}

.projects{
    border: 1px solid #ffffff;
    border-radius: 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    color: #ffffff;
    text-align: center;
}
.projects:hover{
    background-color: #444141;
}
.project{
    border: 1px solid #ffffff;
    align-items: center;
    background-color: #232222;
    border-radius: 25px;
    color: #ffffff;
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;

}
.project:hover{
    background-color: #444141;
}
.project-link{
    color: #7da7f5;
    text-decoration: none;
    padding-bottom: 20px;
}