.projects-container {
    text-align: center;
    height: 100%;
    width: 80vw;
    padding: 20px;
    background:radial-gradient(#15232c, #000000);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    font-family: sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
}

.project-container {
    border: 2px solid #072a62;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.project-container h2 {
    margin: 0 0 10px 0;
}

.project-container p {
    margin: 0 0 20px 0;
}

.image-gallery {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.image-gallery img {
    max-height: 500px;
    border-radius: 10px;
}

.project-container p{
    font-size: .9rem;
}

.project-container a {
    display: inline-block;
    margin-top: 10px;
    color: #ffffff;
    text-decoration: none;
}

.highlighted-projects, .ML-projects, .web-projects {
    border: 8px solid #072a62;
    border-radius: 10px;
}

.highlighted-projects, .ML-projects{
    margin-bottom: 40px;
}