.social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 40px; /* Reduced gap to fit within the container */
    flex-wrap: wrap; /* Ensure the items wrap to the next line if they exceed the container width */
}

.social-icon {
    color: white;
    font-size: 3rem;
    transition: transform 0.3s ease, color 0.3s ease;
    animation: pulse 2s infinite;
}

.social-icon:hover {
    color: #072a62;
    transform: scale(1.2);
    animation: none;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.3);
        color: #072a62;
        
    }
    100% {
        transform: scale(1);
    }
}